<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>DOMAIN SPECIFIC VIDEO RETRIEVAL FOR STRENGTH, HYPERTROPHY AND CONDITIONING</title>

</head>

<body>
  <div>

    <!-- First card -->
    <div class="container">
      <div class="card">
        <h1>What exercise am I doing?</h1>
        <p>Version 1.0.0</p>
        <p style="margin-top: 20px;"><b>Upload image:</b></p>
        <img src='static/image.jpg' onclick="document.getElementById('input').click();" id="placeholder">
        <form action="/start_algo" method="GET">
          <input type="file" accept="image/jpg image/jpeg" id="input">
          <div id="loading-message"></div>
        </form>
        <button id="search"><b>START SEARCH</b></button>
      </div>
    </div>

    <!-- Second card -->
    <div class="container_2">
      <h1>Your exercise looks like:</h1>
      <div class="five_card">
        <div class="img_card">
          <img src="static/image_place_holder.jpg" id="Image 1">
          <p type="scores"></p>
        </div>
        <div class="img_card">
          <img src="static/image_place_holder.jpg" alt="Image 2">
          <p type="scores"></p>
        </div>
        <div class="img_card">
          <img src="static/image_place_holder.jpg" alt="Image 3">
          <p type="scores"></p>
        </div>
        <div class="img_card">
          <img src="static/image_place_holder.jpg" alt="Image 4">
          <p type="scores"></p>
        </div>
        <div class="img_card">
          <img src="static/image_place_holder.jpg" alt="Image 5">
          <p type="scores"></p>
        </div>
      </div>
    </div>

    <!-- Third card -->
    <div class="container_3">
      <h2>We think you are doing:</h2>
      <h1 id="exercise">THIS EXERCISE</h1>
      <iframe src="" allowfullscreen="" frameborder="0" id="video"> </iframe>
    </div>
</body>

<script>
  let placeholder = document.getElementById("placeholder")  // Old placeholder Input Image
  let inputImg = document.getElementById("input")           // Uploaded Image
  let search_button = document.getElementById("search")     // Seach button

  function updateImgs(data) {
    let imgs = document.querySelectorAll('.img_card img');  // Select all img elements within .img_card
    let scores = document.querySelectorAll('.img_card p')   // Scores are the returned similaity score

    imgs.forEach((img, index) => {                          // Loop images on index to update the 5 images
      if (data.paths[index]) {                              
        let identifier = new Date().getTime();                  // Timestamp identifier to differenciate between two inputs in same session
        let imagePath = `static/img${index}.jpg?${identifier}`; // Construct image path
        img.src = imagePath;                                    // Update src attribute
      }
    });
    scores.forEach((score, index) => {                      // Updates the scores per image
      if (data.values[index]) {
        scores[index].innerText = `${parseFloat(data.values[index]).toFixed(2)}%`; // Fix the score to two decimals
      }
    });
  };

  function updateTag(data) {                          // Update tag, tag is the "title" where the type of exercise is shown
    exercise = document.getElementById('exercise')
    exercise.innerText = data.keyword
  }

  function updateVid(data) {                   // Update the video to a the exercise predicted
    video = document.getElementById('video')
    video.src = data.video
  }

  function pageScroll() {     // function for scrollign the page
    window.scrollBy(0,580);
  }


  inputImg.onchange = function () {   // When img is uploaded to the input, the new img displays
    let img = inputImg.files[0];
    placeholder.src = URL.createObjectURL(img);
  }

  search_button.onclick = function () {     // Main function Algorithm starts. 
    let img = inputImg.files[0];
    let form = new FormData();
    form.append("uploaded_img", img, img.name); // Append the input img

    pageScroll()

    fetch('/save_image', {  // fetch app route /save_image
      method: 'POST',
      body: form            
    }).then(response => {
      if (response.ok) {
        console.log('Image uploaded successfully.');
    
        fetch('/start_algo', {       // After uploading image, trigger algorithm search
          method: 'GET'
        }).then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Error fetching data.');
          }
        }).then(data => {
          updateTag(data)           // Update the site with new information
          updateVid(data)
          updateImgs(data);
        }).catch(error => {
          console.error('Error:', error);
        });
      } else {
        console.error('Error uploading image.');
      }
    }).catch(error => {
      console.error('Error:', error);
    });
  };
</script>
</html>